# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hgoyal\Downloads\themeforest-qW9r8urA-omega-react-next-landing-page-templates\omega-downloads\omega-next-1.7\omega-next\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
